SEPARATOR='---'
END_OF_INPUT='END'

# input
INPUT_DATA_PATH='data/input_data'
CSV_PARTICLE_COLUMN_NAME='Length'
XLSX_PARTICLE_COLUMN_INDEX=-1

# output
OUTPUT_DATA_PATH='data/output_data'

# logging
LOG_DIR='logs'

DECIMAL_PLACES=6
ALPHA=0.05
BIN_WIDTH_IN_NM=0.25