SEPARATOR='---'
END_OF_INPUT='END'

# input
INPUT_DATA_PATH='data/input_data'
CSV_PARTICLE_COLUMN_NAME='Length'
XLSX_PARTICLE_COLUMN_INDEX=-1

# output
OUTPUT_DATA_PATH='data/output_data'
OUTPUT_GRAPH_PATH='data/output_data/graphs'
OUTPUT_GRAPH_NAME_PREFIX='histogram'
PNG_EXPORT_WIDTH_IN_PIXELS=1600
PNG_EXPORT_HEIGHT_IN_PIXELS=900
PNG_EXPORT_SCALE=2

# logging
LOG_DIR='logs'

DECIMAL_PLACES=6
PERCENTAGE_DECIMAL_PLACES=2
ALPHA=0.05
BIN_WIDTH_IN_NM=0.25